.cardsSubmission {
  min-height: 130px;
  width: 200px;
  background: #fe6c91;
  margin: 17px;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.cardsInterview {
  min-height: 130px;
  width: 200px;
  background: #cf9304;
  margin: 17px;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.cardsOffer {
  min-height: 130px;
  width: 200px;
  background: #59b304;
  margin: 17px;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.cardsBA {
  min-height: 130px;
  width: 200px;
  background: #02c19f;
  margin: 17px;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.cardsDev {
  min-height: 130px;
  width: 200px;
  background: #09aef8;
  margin: 17px;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.cardsOn {
  min-height: 130px;
  width: 200px;
  background: #f87c7c;
  margin: 17px;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.cards .icons {
  height: 100%;
  display: flex;
  align-items: center;
  margin: 0 20px;
  width: 30px;
}
.cards .content {
  margin: 0 20px;
  font-weight: 900;
  font-size: 14px;
}
.card .color{
  color: white;
  background-color: white;
}
.cards .content .card-value{
  font-size: 18px;
}
.cards .content .card-desc{
  width: 200px;
}
.displayContent {
  height: 250px;
  padding: 24px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.p-tabview .p-tabview-nav {
  display: flex;
  justify-content: center;
  border: none;
}
.p-tabview .p-tabview-nav li .p-tabview-nav-link:not(.p-disabled):focus {
  box-shadow: none;
}
.card {
  border: none;
}
.p-menubar {
  padding: 1rem;
  background: #23305E;
  color: transparent;
  border: none;
  border-radius: 0;
}
.p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link {
  padding: 5px 10px;
}
.p-menubar
  .p-menubar-root-list
  > .p-menuitem
  > .p-menuitem-link
  .p-menuitem-icon {
  color: #fff;
}
.p-menubar
  .p-menubar-root-list
  > .p-menuitem
  > .p-menuitem-link
  .p-menuitem-text {
  color: #fff;
}

.alignment-class {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
